:root {
	font-family: Montserrat, sans-serif;
	font-size: 24px;
}

body {
	background: #141414;
	background: linear-gradient(135deg, rgba(0, 0, 0, 1) 0%, rgba(28, 116, 65, 1) 78%, rgba(32, 166, 88, 1) 92%, rgba(35, 205, 107, 1) 100%);
	color: white;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;

	align-items: center;
	justify-content: center;
	display: flex;
}

#title-card {
	height: 20rem;
	width: 30rem;
	padding: 2rem;
	justify-content: center;
	background-color: #121212;
	border-radius: 20px;
	margin: 2rem;
	box-shadow: 0 0 50px #040404;
	text-align: center;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.start-button {
	width: 10rem;
	height: 2.5rem;
	padding: 0 15px 0 25px;
	border-radius: 40px;
	border: none;
	background-color: #20a658;
	color: #181818;
	text-align: left;
	overflow: hidden;
	position: relative;
	transition: 0.3s;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.start-button:before {
	content: "";
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: linear-gradient(120deg, transparent, rgba(194, 246, 210, 0.1), transparent);
	transition: 0.65s;
}

.start-button:hover {
	background-color: #3cbb71;
	box-shadow: 1px 1px 25px 10px rgba(255, 255, 255, 0.05);
	transform: scale(1.05);
}

.start-button:hover:before {
	left: 100%;
}

.start-button:hover .arrows {
	color: #3cbb71;
	animation: slide-right-loop 0.25s ease-in-out forwards;
}

.start-button:not(:hover) .arrows {
	animation: slide-left-loop 0.25s ease-in-out forwards;
}

.start-button p {
	font-size: 0.75rem;
}

.icon-container {
	background-color: #181818;
	color: #20a658;
	font-size: 18px;
	border-radius: 40px;
	width: 2.75rem;
	height: 1.75rem;
	text-align: center;
	letter-spacing: -1px;
	overflow: hidden;

	display: flex;
	align-items: center;
	justify-content: center;
}

.arrows {
	display: inline-block;
	margin-top: 1%;
}

@keyframes slide-right-loop {
	0% {
		transform: translateX(0);
		opacity: 1;
	}
	49% {
		transform: translateX(150%);
		opacity: 0;
	}
	50% {
		transform: translateX(-150%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slide-left-loop {
	0% {
		transform: translateX(0);
		opacity: 1;
	}
	49% {
		transform: translateX(-150%); /* Slide out to the LEFT */
		opacity: 0;
	}
	50% {
		transform: translateX(150%); /* Teleport to the RIGHT */
		opacity: 0;
	}
	100% {
		transform: translateX(0); /* Slide back to center */
		opacity: 1;
	}
}
